@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Roboto+Condensed:wght@400;700&display=swap');

/* Geral */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


.container-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}


header{
    background: #010101;

    width: 100vw;

    padding: 1.5rem;
    box-sizing: border-box;
    
}

header h1.main-title{
    padding: 0;
    margin: 0;
    
    display: inline-block;

    font-weight: normal;
    color: #F5FEFD;
    font-size: 2.5rem; 
}

header h1.main-title:after{
    content: "";
    display: block;
    width: 100%;
    background-color: #FFC138;
    height: 5px;
}

h1.main-title span{
    font-family: 'Overpass', sans-serif;
    color: #FFC138;
}

nav ul.lista-menu{
    display: flex;
    justify-content: center;
}

ul.lista-menu li a{
    color: #F5FEFD;
    font-size: 1.5rem;
    text-align: center;
    display:inline-block;
    position: relative;
    margin: 0 5rem;
}

ul.lista-menu li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFC138;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
ul.lista-menu li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.check-btn{
    color: #F5FEFD;
    font-size: 1.4rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 10%;
    border: 1px solid #FFC138;
    display: none;
}

#icon-menu{
    display: none;
}

/* Media queries*/

/* Tablets e notebooks */
@media only screen 
  and (min-device-width: 760px) 
  and (max-device-width: 1024px) {
    body{
        overflow: hidden;
    }
    header h1.main-title{
        color: #F5FEFD;
        font-size: 2rem;
    }

    ul.lista-menu li a{
        font-size: 1.2rem;
        margin: 0 2rem;
    }
}

/* celulares */
@media only screen 
  and (min-device-width: 200px) 
  and (max-device-width: 759px)
  {
    .container-title{
        flex-direction:row;
    }
    .check-btn{
        display: block;
        margin-left: auto;
    }

    header h1.main-title{
        color: #F5FEFD;
        font-size: 1.7rem;
    }

    nav ul.lista-menu{
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        

        background: #010101;

        height: 100vh;
        width: 100%;

        left: -200%;

        transition: all .5s;
    }

    nav ul.lista-menu.active{
        left: 0;
    }

    nav ul.lista-menu li{
        margin-top: 2rem;
        display: block;
    }

    ul.lista-menu li a{
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }
    


    .lista-menu li a:before{
        content: "-";
        color: #F5FEFD;
        margin-right: 20px;
    }
    
}