@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Roboto+Condensed:wght@400;700&display=swap');

/* Geral */
html, body {
    height: 100%;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;

    background-color: #F5FEFD;
}
p{
    text-transform: uppercase;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/*Estilização Header*/
.container-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}


header{
    background: #010101;

    width: 100vw;

    padding: 1.5rem;
    box-sizing: border-box;
}

header h1.main-title{
    padding: 0;
    margin: 0;
    
    display: inline-block;

    font-weight: normal;
    color: #F5FEFD;
    font-size: 2.5rem; 
}

header h1.main-title:after{
    content: "";
    display: block;
    width: 100%;
    background-color: #FFC138;
    height: 5px;
}

span.span-title{
    font-family: 'Overpass', sans-serif;
    color: #FFC138;
}

nav ul.lista-menu{
    display: flex;
    justify-content: center;
}

ul.lista-menu li a{
    color: #F5FEFD;
    font-size: 1.5rem;
    text-align: center;
    display:inline-block;
    position: relative;
    margin: 0 5rem;
}

ul.lista-menu li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFC138;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
ul.lista-menu li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.check-btn{
    color: #F5FEFD;
    font-size: 1.4rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 10%;
    border: 1px solid #FFC138;
    display: none;
}

#icon-menu{
    display: none;
}

/*Fecha estilização Header*/

/* Estilização Black Fiday */
h1.section-title{
    text-decoration: underline;
    font-weight: bold;
}

section div.black-friday-wrapper{
   display: flex;
   align-items: center;
   gap: 3rem;
}


div.main-banner img{
    max-width: 500px;
    width: 100%;
    border: 5px solid #FFC138;
}

div.main-text-container{
    width: 50%;
}

div.black-friday-title h3{
    color: #FFC138;
    font-size: 1.3rem;
}

div.main-text-container p{
    margin: 20px 0;
    font-size: 1.2rem;
    line-height: 1.5;
}

.btn-style{
    background: #000000;
    border: 5px solid #FFC138;
    padding: 1rem 6rem;
    box-sizing: border-box;
    border-radius: 15px;
    transition: all .5s;
}

.btn-style:hover{
    filter: opacity(.8);
}

.btn-style a{
    color: #F5FEFD;
    font-size: 1.2rem;
    font-weight: 600;
}
/* Fecha Estilização Black Fiday */

/* Estilização Promoção */

#promocao{
    width: 100vw;
    color: #010101;
}

#promocao .section-title{
    font-size: 2.5rem;
}

#promocao .container-wrapper{
    width: 75vw;
    margin: 0 auto;
    padding: 2rem 0;
    box-sizing: border-box;
}

.cupom-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.cupom-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cupom-card h2{
    font-size: 2rem;
}

.cupom-card p{
    max-width: 500px;
    max-height: 500px;
    font-size: 1.5rem;
}


.cupom-card img{
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    border: 5px solid #FFC138;
    margin: 1.3rem 0;
}

.video-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-card h2{
    font-size: 2rem;
}

.video-card iframe{
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    border: 5px solid #FFC138;
    margin: 1.3rem 0;
}


/* Fecha Estilização Promoção */

/*Curso*/
section#curso{
    width: 100vw;
    background: rgba(14,16,16,.6) url('../imagens/bg_image.jpg') no-repeat top left;
    background-attachment: fixed;
    margin: 0 auto;
    padding: 5rem;
}

#curso .section-title{
    color: #F5FEFD;
    
    font-size: 2rem;
}

.title-curso{
    font-size: 1.8rem;
    color: #F5FEFD;
}

#curso p{
    color: #F5FEFD;
}

/*Augusto Backes*/
#augusto-backes{
    width: 100vw;
    background: #F5FEFD;
    background-attachment: fixed;
    color: #010101;
}

#augusto-backes .container-wrapper{
    width: 75vw;
    margin: 0 auto;
    padding: 2rem 0;
    box-sizing: border-box;
}

#augusto-backes div.main-text-container p{
    font-weight: bold;
    font-size: 1.2em;
}

#augusto-backes .section-title{
    font-size: 2rem;
}

section div.augusto-backes-wrapper{
    display: flex;
    justify-content: space-between;
 }

 section div.augusto-backes-wrapper img{
    max-width: 500px;
    width: 100%;
    border: none;
 }

 /* Footer */
 footer{
     padding: 2rem;
     box-sizing: border-box;
     background-color: #FFC138;
 }
 footer h1{
     color: #010101;
     font-size: 2rem;
     text-align: center;
 }
/* Media queries*/

/* Tablets e notebooks */
@media screen  and (max-device-width: 1239px) {
  
  header h1.main-title{
      color: #F5FEFD;
      font-size: 2rem;
  }

  ul.lista-menu li a{
      font-size: 1.2rem;
      margin: 0 2rem;
  }


  /*black friday*/
  div.main-banner img{
      max-width: 260px;
      border: 5px solid #FFC138;
  }

  div.main-text-container h3{
      font-size: 1.2rem;
  }
  
  div.main-text-container p{
      font-size: 1rem;
  }

  div.main-text-container button{
      padding: 1rem 4rem;
  }

  
  div.main-text-container button a{
      font-size: 1rem;
  }

  /* estilização promocao */
  .cupom-card h2{
      font-size: 1.1rem;
  }
  .video-card h2{
      font-size: 1.1rem;
  }

  .cupom-card img{
      max-width: 300px;
      max-height: 300px;
      width: 100%;
  }
  .cupom-card p{
      max-width: 300px;
      max-height: 300px;
      font-size: 1rem;
  }

  .video-card iframe{
      max-width: 300px;
      max-height: 300px;
      width: 80%;
      border: 5px solid #FFC138;
  }

  .btn-style{
      padding: 1rem 3rem;
  }
  
  .btn-style a{
      font-size: 1rem;
  }

}

/* Tablets e notebooks */
@media screen and (min-device-width: 760px) 
  and (max-device-width: 1024px) {
    
    header h1.main-title{
        color: #F5FEFD;
        font-size: 2rem;
    }

    ul.lista-menu li a{
        font-size: 1.2rem;
        margin: 0 2rem;
    }


    /*black friday*/
    div.main-banner img{
        max-width: 260px;
        border: 5px solid #FFC138;
    }

    div.main-text-container h3{
        font-size: 1.2rem;
    }
    
    div.main-text-container p{
        font-size: 1rem;
    }

    div.main-text-container button{
        padding: 1rem 4rem;
    }

    
    div.main-text-container button a{
        font-size: 1rem;
    }

    /* estilização promocao */
    .cupom-card h2{
        font-size: 1.1rem;
    }
    .video-card h2{
        font-size: 1.1rem;
    }

    .cupom-card img{
        max-width: 300px;
        max-height: 300px;
        width: 100%;
    }
    .cupom-card p{
        max-width: 300px;
        max-height: 300px;
        font-size: 1rem;
    }

    .video-card iframe{
        max-width: 300px;
        max-height: 300px;
        width: 80%;
        border: 5px solid #FFC138;
    }

    .btn-style{
        padding: 1rem 3rem;
    }
    
    .btn-style a{
        font-size: 1rem;
    }
 
}

/* celulares */
@media screen and (min-device-width: 200px) 
  and (max-device-width: 759px)
  {
    .container-title{
        flex-direction:row;
        
    }

    section#curso{
        width: 100vw;
        background: rgba(14,16,16,.6) url('../imagens/bg_image.jpg') no-repeat top left;
        background-attachment: fixed;
        margin: 0 auto;
        padding: 2rem;
    }
    
    header{
        background: #010101;
        position: fixed;
        width: 100vw;
        padding: 1.5rem;
        box-sizing: border-box;
    }
    .check-btn{
        display: block;
        margin-left: auto;
    }

    header h1.main-title{
        color: #F5FEFD;
        font-size: 1.3rem;
    }

    nav ul.lista-menu{
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        

        background: #010101;

        height: 100vh;
        width: 100%;

        left: -200%;

        transition: all .5s;
    }

    nav ul.lista-menu.active{
        left: 0;
    }

    nav ul.lista-menu li{
        margin-top: 2rem;
        display: block;
    }

    ul.lista-menu li a{
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }

    #promocao{
        margin-top: 2.5rem;
    }
    


    .lista-menu li a:before{
        content: "-";
        color: #F5FEFD;
        margin-right: 20px;
    }

    #curso p{
        width: 90vw;
    }

    
    section div.black-friday-wrapper{
        flex-direction: column;
        align-items: center;
     }

     div.main-text-container{
        width: 100%;
    }

    div.main-text-container button{
        padding: 1rem 3rem;
    }

    
    div.main-text-container button a{
        font-size: 0.8rem;
    }

    /*Promoção*/
    .cupom-container{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }

    .btn-style{
        padding: 1rem 2rem;
    }
    
    .btn-style a{
        font-size: 1rem;
    }

    /*augusto-backes*/
    section div.augusto-backes-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
     }
}